/node_modules
/public/hot
/public/storage
/public/customer_qr
/public/images
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.vscode/*.*
/storage/framework/sessions
/docker/*
docker-compose.yaml