@font-face {
    font-family: 'abc_diatypebold';
    src: url('../fonts/abc-diatype-bold-webfont.woff2') format('woff2'),
         url('../fonts/abc-diatype-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'abc_diatyperegular';
    src: url('../fonts/abc-diatype-regular-webfont.woff2') format('woff2'),
         url('../fonts/abc-diatype-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body, html{ height: 100%;}

:root {
--ff-normal: 'abc_diatyperegular';
--ff-bold: 'abc_diatypebold';
--gold-line: linear-gradient(90deg, #805711 0%, #CCB260 25%, #FEF3B3 50%, #CCB260 75%, #805700 100%);
--line: 1px;
--m-height: 142px;
--yellow: #EAC36C;
}



input::-webkit-input-placeholder { color:#fff !important; opacity: 1 !important; }
input::-moz-placeholder { color:#fff !important; opacity: 1 !important;}
input::-ms-placeholder { color:#fff !important; opacity: 1 !important;}
input::placeholder { color:#fff !important; opacity: 1 !important;}

textarea::-webkit-input-placeholder { color:#fff !important; opacity: 1 !important; }
textarea::-moz-placeholder { color:#fff !important; opacity: 1 !important;}
textarea::-ms-placeholder { color:#fff !important; opacity: 1 !important;}
textarea::placeholder { color:#fff !important; opacity: 1 !important;}

body{ background-color: #0F0E0E; font-family:var(--ff-normal);}

/* body *{ transition: .3s;} */

h2 {font-size: 26px; font-family: var(--ff-bold); margin: 0;}

.moudle-box{ font-size: 20px; color: var(--bs-light); padding: 0.6rem 1rem; line-height: 1.3em;}
.moudle-box span{ color:#EAC36C; font-family:var(--ff-bold); display: block; }

form .container { max-width: 400px;}
form .logo{ margin: 0 auto 6vh auto; display: block; max-width: 72%;}

.form-group{ margin-bottom: 15px; position: relative; }
.form-control{border-bottom: var(--line) solid #A8A8A8 !important; background: transparent; border-radius: 0; border: none; padding: .7rem 0; color: #fff !important;}
.form-control:focus{ background: transparent; box-shadow: none; border-image-source:var(--gold-line); border-image-slice: 1;}

.btn-box{ margin-top: 60px;}

.btn{ border-radius: 0; box-shadow: none;}
.btn-border{ border: var(--line) solid #A8A8A8; padding: 1.3rem; color: #fff; font-size: 16px; font-weight: normal;}
.btn-border:hover{border-image-source:var(--gold-line); border-image-slice: 1; color: #fff;}

.bottom .btn{ width: 47%;}

.custom-nav.navbar{ padding:15px 0; min-height: 78px;}
.custom-nav.navbar.bord{ border-bottom: 1px solid; border-image-source:var(--gold-line); border-image-slice: 1;}
.custom-nav.navbar .container-fluid{ align-items: center; padding-left: 25px; padding-right: 25px;}

.custom-nav.navbar .btn{ background: transparent; border: none; font-size: 17px; color: #F4F3EF; padding-left: 0;}


.custom-nav.navbar .btn-elemts{ display: flex; align-items: center;}
.custom-nav.navbar .btn-elemts .btn-title{ font-size: 26px; color: #EAC36C; font-family: var(--ff-bold);}

.custom-nav.navbar h2{ color: #fff; text-align: center;}
.custom-nav.navbar .right-info-element{ min-width: 16%; display: flex;}

main{ padding: 0 15px;}

.hero{ height: 335px; transition: .3s;} 
.hero img{ width: 100%; object-fit: cover; height: 100%;}

.grey-brd-box{ border:1px solid #A8A8A8;}
.grey-brd-box .title{ display: flex; justify-content: space-between; padding: 20px; align-items: center; border-bottom: 1px solid #A8A8A8; position: relative;}
.grey-brd-box .title h2{ color: #EAC36C;}
.grey-brd-box .title .edit{ color: #fff; font-size: 17px; text-decoration: none; position: absolute; right: 0; padding: 20px}
.grey-brd-box .title .edit:hover{ text-decoration: underline;}
.grey-brd-box .title .reviewbox{ text-align: right; color: #fff; position: absolute; right: 0; padding: 12px 20px; top: 0;}
.grey-brd-box .title .reviewbox .text-star{ font-size: 14px;}
.grey-brd-box .title .reviewbox .stars{ color: #EAC36C;}
.grey-brd-box .title .reviewbox .stars i:last-child:before{ margin-right: 0;}

.padbox{ padding: 20px;}
.grid{ display: grid; gap: 20px; }
.grid.colmn-2{grid-template-columns: repeat(2, 1fr); /*grid-template-rows: repeat(2, 10.5em);*/}
.grid.colmn-3{grid-template-columns: repeat(3, 1fr); grid-template-rows: auto;}
.grid.colmn-5{grid-template-columns: repeat(5, 1fr); grid-template-rows: auto;}
.grid.colmn-6{grid-template-columns: repeat(6, 1fr); grid-template-rows: auto;}
.grid.colmn-7{grid-template-columns: repeat(7, 1fr); grid-template-rows: auto;}
.grid.gap30{ gap: 30px;}

.lable-box{ font-size: 25px; color: #fff; text-decoration: none; font-family: var(--ff-normal); display: flex; justify-content: center; align-items: center; transition: .3s; position: relative;}
.lable-box:hover{ color: #fff;}
a.grey-brd-box.lable-box:hover{ border-color: var(--bs-light);}

.outrbox{ padding: 30px 0;}

#sidebar-wrapper{ position: fixed; z-index: 105; top: 0; bottom: 0; left: 0; width: 16rem; height: 100%; overflow-y: scroll; display: flex; flex-direction: column; background: #0F0E0E;}

.sidebar-header, .sidebar-footer, .sidebar-title{ padding: 0.975rem .75rem; display: flex; justify-content: space-between; align-items: center; }
.sidebar-title .logo{ max-width: 45%; margin-left: 10px;}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to { 
        -webkit-transform: rotate(360deg);
    }
}
.sidebar-header{border-image-source: var(--gold-line); border-image-slice: 1; border-bottom: 1px solid;}
.sidebar-header label{ font-size: 16px; color: #fff;line-height: normal; margin: 0; display: block;     max-width: 72%;}
.sidebar-header .setting{ color: #fff; font-size: 25px; -webkit-animation: spin 3s 1 linear; animation: spin 3s  1 linear;}
.sidebar-header .setting:hover{-webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; }

.sidebar-title{ justify-content: inherit;}
.sidebar-title button{ border: none; background: transparent; padding: 0; color: #fff; font-size: 18px;}

#sidebar-wrapper figure{ margin: 0; padding: 0 .75rem; height: 175px; width: 100%;     box-sizing: border-box;}
#sidebar-wrapper figure img{ height: 100%; object-fit: cover; width: 100%;}

.list-group{    flex: 1 0 auto;}
.list-group a{ font-size: 25px; color: #fff; border-bottom: 1px solid; border-image-source: var(--gold-line); border-image-slice: 1; text-decoration: none; font-family: var(--ff-normal); padding: .75rem; display: block;}

.sidebar-footer{ color: #fff; font-size: 12px; font-style: italic;}

#sidebar-wrapper:hover::-webkit-scrollbar-thumb {background:rgba(255, 255, 255, 0.09);}
#sidebar-wrapper::-webkit-scrollbar { width:5px; }
#sidebar-wrapper::-webkit-scrollbar-track { background:transparent; border-radius:0px; }
#sidebar-wrapper::-webkit-scrollbar-thumb { background:rgba(255, 255, 255, 0.0); border-radius:0px; }

.bor-btn{ border: var(--line) solid #A8A8A8; color: #fff; font-size: 18px; font-weight: normal; text-decoration: none; padding: .5em 2em; background: transparent;}
.bor-btn:hover{ color: #fff;}

.prd-edit{ position: absolute;color: #fff; text-decoration: none; font-size: 20px; top: auto; left: 15px;}
.prd-edit:hover{ color: #fff;}

.member-registed{ text-align: right; color: #fff;}

.opening-time{ table-layout: fixed; color: #fff; font-size: 16px; width: 100%;}
.opening-time th{ font-family: var(--ff-bold); font-size: 20px;}
.opening-time td{ text-align: right;}

.form-control.vari1{padding: 0.3rem 0; border-color: #F4F3EF;}
.form-control.vari1:focus{border-image-source:none; border-color: #fff !important;}

.form-control.vari2{ border-color: #F4F3EF; font-size: 23px; color: #fff; text-align: center; border: 1px solid #A8A8A8;}
.form-control.vari2:focus{border-image-source:none; border-color: #fff !important;}

.form-control.vari3{ border-color: #F4F3EF; font-size: 23px; color: #fff; text-align: center; border: 1px solid #A8A8A8; padding: .5rem;}
.form-control.vari3:focus{border-image-source:none; border-color: #fff !important;}

.font-26{ font-size: 26px;}
.font-30{ font-size: 30px;}

.top-bor{ border-left: 0; border-bottom: 0; border-right: 0;}

.line-gradient{ padding: 0.75rem; border-bottom: 1px solid; border-image-source: var(--gold-line); border-image-slice: 1;}
.line-gradient:last-child{ border: none;}
.reviewer{ font-size: 16px; color: #fff;}
.reviewer td { padding: 0.25em;}
.reviewer td:first-child{ width: 15%;}
.reviewer td:nth-child(2){ width: 58%; font-family: var(--ff-bold);}
.reviewer td:last-child{ width: 27%; text-align: right;}

.reviewer .name{ color: #EAC36C;}
.reviewer td:last-child i{ color: #4FDA76;}

.complete{ color: #EAC36C; }
.rvnote, .ord-time{ color: #fff;}
.rvnote{ font-size: 14px; width: 60%;}
.ord-time{ width: 40%; text-align: right;}

.venue-fig{ margin: 0; height: 290px; width: 100%;}
.venue-fig img{ width: 100%; height: 100%; object-fit: cover;}

.modal-header h2{ color: #EAC36C;}
.modal .back { border: none; color: #fff; background: transparent; margin-right: 10px;}

.modal{background: rgba(0, 0, 0, 0.50);}
.modal-content{ background: #0F0E0E; border-radius: 0; box-shadow: 0 0 13px 0px #0000004a; border: none;}
.modal-header{border-image-source: var(--gold-line); border-image-slice: 1; padding: 0.85em 0.65em;}

.modal-body { padding: 26px;}

.h-800{ height: 100%; max-height: 800px;}
.h-600{ height: 100%; max-height: 600px;}

.scroll-y{ overflow-y: scroll; }
.scroll-y:hover::-webkit-scrollbar-thumb {background:rgba(255, 255, 255, 0.09); }
.scroll-y::-webkit-scrollbar { width:5px; }
.scroll-y::-webkit-scrollbar-track { background:transparent; border-radius:0px;}
.scroll-y::-webkit-scrollbar-thumb { background:rgba(255, 255, 255, 0.0); border-radius:0px; }


.drinks-info{ max-width: 350px;}
.yellow{ color:var(--yellow)}

.catg-box{ text-decoration: none; color: #fff; position: relative;}
.catg-box:hover figcaption{ text-decoration: none;}
.catg-box figure{ width: 100%; height: 170px; margin: 0; overflow: hidden;}
.catg-box figure img{width: 100%; height: 100%; object-fit: cover; transform: scale(1); transition: .3s;}
.catg-box:hover figure img{transform: scale(1.1);}
.catg-box figcaption{ font-size: 20px; padding: 15px 0; text-align: center; color: #fff; font-family: var(--bs-light); line-height: normal;}

.catg-box.add figure{display: flex; text-align: center; justify-content: center; align-items: center; border: 1px solid #A8A8A8; font-size: 35px;}
.catg-box.add:hover figure{ color: #fff;}
.catg-box.add.overly figure{ border: none;}

.catg-box.overly{border: 1px solid #A8A8A8;}
.catg-box.overly figure{height: 210px;}
.catg-box.overly figure:after{ position: absolute; inset: 0; content: ""; background: #000; z-index: 0; opacity: .8;}
.catg-box.overly figcaption{ position: absolute; padding: 0; height: auto; min-height: 1px; top: 0; left: 0; right: 0; height: inherit; z-index: 1; display: flex;  align-items: center; justify-content: center; font-size: 25px;}
.catg-box.overly.add figure:after{ display: none;}

.catg-box button{ position: absolute; color: #ffffffd3; z-index: 2; background: transparent; border: none; right: 0; font-size: 14px; opacity: 0; padding: 4px 16px; transition: .2s;}
.catg-box:hover button{ opacity: 1;}

.waiters{ padding: 10px; color: #fff; position: relative; height: 130px;}
.waiters .status-box{font-size: 19px; position: relative; padding-right: 2.75em;}
.waiters .status{ position: absolute; padding: 5px; top: 0; right: 0; font-size: 14px;}

.waiters .wait-footer{ bottom: 0; position: absolute; left: 0; padding: 10px; width: 100%; box-sizing: border-box;}

.waiters.add{display: flex; text-align: center; justify-content: center; align-items: center; font-size: 35px;}
.waiters.add:hover{ color: #fff;}

.catg-box.overly.no-overly figure:after{ display: none;}


.sort-by{ display: flex; justify-content: space-between; align-items: center;}
.sort-by .searchbox{width: calc(100% - 110px);}
.sort-by .searchbar{ border: 1px solid #A8A8A8 !important ; background: transparent; color: #fff !important; padding: 0.6rem 1.5rem; border-radius: 50px; width: 100%; box-sizing: border-box; font-style: italic;}

.filter-box{display: grid; grid-template-columns: repeat(6, 1fr); gap: 20px;}
.filter-box .bor-btn{font-size: 22px; white-space: nowrap; padding: 0.5em;}
.filter-box .bor-btn:first-child{ margin-left: 0;}
.filter-box .bor-btn:last-child{ margin-right: 0;}

/* .data-table table{ table-layout: fixed;} */
.data-table thead{ position: relative; width: 100%;}
.data-table thead:before{ border-top: 1px solid; border-image-source: var(--gold-line); border-image-slice: 1; content:''; position: absolute; top: 0; width: 100%; left: 0;}
.data-table thead:after{ border-bottom: 1px solid; border-image-source: var(--gold-line); border-image-slice: 1; content:''; position: absolute; bottom: 0; width: 100%; left: 0;}

.data-table th{ padding: 1.1rem .4rem; font-size: 20px; color: #fff; font-family: var(--bs-light);}
.data-table th:first-child{ padding-left: 0;}
.data-table th:last-child{ padding-right: 0;}

.data-table td{ padding: .85rem .4rem; color: #fff;}
.data-table td:first-child{ padding-left: 0;  width: 3%;}
.data-table td:last-child{ padding-right: 0;}

.data-table th .bor-btn{ padding: 0.5em; width: auto; min-width: 38%;}
.sort-icon {font-size: 28px; color: #fff; line-height: normal; }
th .sort-icon{ position: absolute; top: 20%;}
.sort-icon:hover{ color: #fff;}

.data-table label{ display: block;}

.data-table .prdname{}
.data-table .prdname, .data-table .type{  }
.data-table .edit{ color: #fff; text-decoration: none;}
.data-table .edit:hover{ text-decoration: underline;}

.green{ color: #4FDA76;}
.red{ color: #D74848;}

.data-table th.type, .data-table th.price{ width: 10%;} 
.data-table th.popularity{ width: 12%;}

.data-table .favorite:after{color: #4FDA76;}
.data-table .favorite.null:after{ color: #A8A8A8;}

.cst-check input{ display: none;}
.cst-check span{height: 18px; width: 18px; border: 1px solid #A8A8A8; display: inline-block;}
.cst-check input:checked + span{ border-color: #EAC36C; background: rgba(234, 195, 108, 0.35);}

.data-table tbody tr{ border-bottom:1px solid #2a2929;}
.data-table tbody tr:hover{ background-color: #2a29292e;}
.scroll-y.data-table thead tr{ position: sticky;}

.sb-sidenav-toggled .sticky-sec{    width: calc(33.33333333% - 2.5rem);}
.sticky-sec{padding-right: 30px; width: calc(33.33333333% - 7.5rem); top: 78px; height: calc(100% - 78px); padding-top: 30px; padding-bottom: 30px; position: fixed; transition: .25s;}

.sticky-sec:after{ content: ''; position: absolute; border-right: 1px solid; border-image-source: linear-gradient(0deg, #805711 0%, #CCB260 25%, #FEF3B3 50%, #CCB260 75%, #805700 100%);
    border-image-slice: 1; height: calc(100vh + 78px); right: 0; top: 0;}

.tbl-mng-btn{ flex: 1 0 auto; margin-bottom: 50px;}

.btn-red{ color: #D74848;}
.grey-brd-box.btn-red{ border-color:#D74848;}

.key-mng th, .key-mng td{ color: #fff; font-weight: normal; padding: 4px 0; vertical-align: middle;}
.key-mng td{ text-align: right;}
.key-mng a{ color: #fff; text-decoration: none;}

.gldnline-sepr{ margin: 1.7rem 0; border-bottom: 1px solid; border-image-source: var(--gold-line); border-image-slice: 1;}

.table-design .head { text-align: center; padding: .75rem; border-bottom: 1px solid #A8A8A8; position: relative; color: #EAC36C;}
.table-design .head .cst-check{ position: absolute; left: 1rem; top: 1.2rem;}
.table-design .qr-code{ text-align: center; padding: 20px;}
.table-design .qr-code img{ width: 170px; height: 170px; object-fit: contain;}
.table-design .export-info{ color: #fff; text-align: center; border-top: 1px solid #A8A8A8; padding: 10px; line-height: normal; font-size: 18px; display: block; text-decoration: none;}
.table-design .ftr{ display: flex;}
.table-design .ftr a{ display: block; border: 1px solid #A8A8A8; width: 51%; text-align: center; font-size: 22px; padding: 0.5em; color: #fff; text-decoration: none;}
.table-design .ftr a.active{ margin: 0 0px -1px -1px;}
.table-design .ftr a.disable{ margin: 0 -1px -1px 0px;}

.table-design .ftr a.green{ border-color: #4FDA76; color: #4FDA76;}
.table-design .ftr a.red{ border-color: #D74848; color: #D74848 ;}

.add-table-design{ color: #fff; font-size: 60px; text-decoration: none; text-align: center; height:100%; display: flex; align-items: center; justify-content: center;}
.add-table-design:hover{ color: #fff;}

.del-table.grey-brd-box,
.del-table.table-design .export-info { border-color: #D74848;}
.del-table.table-design .head{border-color: #D74848;  color: #D74848;}

/* export popup */
.modal .modal-dialog .modal-content{ border: 1px solid;border-image-source: var(--gold-line); border-image-slice: 1; }
.modal.qr-code-pop .modal-dialog { max-width: 370px;}
.modal.qr-code-pop .table-ids{ text-align: center; color: #fff; font-size: 30px;}

.modal.qr-code-pop .qrcode{ text-align: center; width: 200px; margin: 0 auto;}
.modal.qr-code-pop .qrcode img{ width: 100%; }
.modal.qr-code-pop .x-logo{margin: 1rem 0;}
.modal.qr-code-pop .x-logo img{ max-width: 10%;}
.modal.qr-code-pop .ftr{ justify-content: space-between;}
.modal.qr-code-pop .ftr .bor-btn{ width: 48%;}

/* export popup */

.count-item {color: var(--yellow); font-size: 26px; font-family: var(--ff-bold);}

.custom-upload{color: #fff;}
.custom-upload label {  display: flex; cursor: pointer; padding: 1rem; flex-direction:column; align-items: center; justify-content: center; height: 250px; font-size: 23px;}
.custom-upload label span{ text-align: center; margin-bottom: 20px; max-width: 90%;}

.pip + label{ display: none;}
.pip{ height: 250px; position: relative; }
.pip img{ object-fit: cover; height: 100%; width: 100%; max-width: 100%;}
.pip i{ position: absolute; top: 0; right: 0; padding: 10px; cursor: pointer; box-shadow: 0 0 20px 0px rgb(0 0 0 / 18%); background: #00000021;}

#wd930.modal .modal-dialog { max-width: 930px;}

.group-btns a{ margin-top: 1rem; }

.dri-heder{ justify-content: space-between; align-items: center; padding: 1em 1.55em;}
.dri-heder h2{ display: inline;}
.dri-heder .head-left{}
.dri-heder .head-right{ display: flex; align-items: center;}
.dri-heder .head-right .bor-btn{ margin-left: 15px;}

.favorite{ text-decoration: none;}
.favorite:after{font-family: "fontello"; font-size: 28px; color: #EAC36C; font-weight: lighter; content: '\e813';}
.favorite.null:after{ content: '\e814';}

.featured-img{ position: relative; align-items: center; text-align: center; color: #fff; justify-content: center; min-height: 358px; margin-bottom: 1.5em;}
.featured-img .add-edit{ position: absolute;color: #fff; text-decoration: none; font-size: 25px; top: 0; right: 0;}
.featured-img .img-text{ font-size: 30px;  }

.tab-btn{ display: flex; margin-bottom: 1.5rem;}
.tab-btn .bor-btn{ width: 50%; padding: .7rem; text-align: center; border-right: none; font-size: 20px;}
.tab-btn .bor-btn + .bor-btn{ border-left: none; border-right: 1px solid;}

.tab-btn .bor-btn.active{ border-right: 1px solid #EAC36C; border-color:#EAC36C ; color: #EAC36C;} 
.tab-btn .bor-btn + .bor-btn.active{ border-left: 1px solid #EAC36C; color: #EAC36C;}

.cstm-catgory{ margin-bottom: 1.5em;}
.cstm-catgory input{ display: none;}
.cstm-catgory label{  cursor: pointer;}
.cstm-catgory .category { border: 1px solid #A8A8A8; padding: 5px; font-size: 20px; display: flex; align-items: center; justify-content: center; height: 120px; text-align: center; color: #fff;}
.cstm-catgory .category span{ font-size: 14px; display: block;}
.cstm-catgory input:checked + .category{border-color: #4FDA76; }

.extr-info .form-group{ margin-bottom: 1.5rem;}
.extr-info .head{ position: relative; padding:.5rem 0 .75rem 0; border-bottom: 1px solid; border-image-source: var(--gold-line); border-image-slice: 1; margin-bottom: 1.5rem;}
.extr-info .head .optional-info{ position: absolute; right: 0; top: 0; color: #fff; font-size: 15px; width: 24%; line-height: normal; text-align: right;}

textarea.prd-desc{ border: 1px solid #A8A8A8; color: #fff; font-size: 1rem; width: 100%; background-color: transparent; border-radius: 0; padding: .5rem; height: 105px; resize: none;}

.prd-variation .head{ position: relative; padding:1rem 0; border-bottom: 1px solid; border-image-source: var(--gold-line); border-image-slice: 1; margin-bottom: 1.5rem;  display: flex; justify-content: space-between;}

.prd-variation .add-remove .bor-btn{ padding: 0.1em 0.8em;}
.prd-variation .add-remove .bor-btn.minus {margin-left: 10px;}

.item-box{ height: 100px; padding: 5px; font-size: 18px; text-align: center; display: flex; align-items: center; line-height: 1.2em; color: #fff; justify-content: center; position: relative;}
.item-box span{ font-size: 14px; display: block;}
.item-box button{position: absolute; color: #ffffffd3; z-index: 1; background: transparent; border: none; right: 0; font-size: 1em; opacity: 0; padding:.1em;
    transition: .2s; top: 0;}
.item-box:hover button {opacity: 1;}

.item-box.add{ text-decoration: none; color: #fff;}
.item-box.add:hover{ color: #fff;}




/* responsive */

@media (min-width: 768px) {
    #page-content-wrapper{margin-left: 16rem; transition: margin 0.25s ease-out;}
    body.sb-sidenav-toggled #wrapper #page-content-wrapper { margin-left: 0rem; }
}

@media (max-width: 1400px) {
    .m-xxl-space{ margin-bottom: 1.5em;}
    .act-xxl-grid-2{grid-template-columns: repeat(2, 1fr); gap: 20px; display: grid;}
    .act-xxl-grid-3{grid-template-columns: repeat(3, 1fr); gap: 20px; display: grid;}
    .group-btns{ grid-template-columns: repeat(3, 1fr); gap: 20px;  display: grid; margin-top: 1.5em;}
    .group-btns a{ margin-top: 0;}
    .table-design .export-info br{ display: none;}
}

@media (max-width: 1300px) {
    .grid.colmn-5.f-ctg{    grid-template-columns: repeat(3, 1fr);}
}

@media (max-width: 1230px) {
    .padbox { padding: 10px;}
    .grey-brd-box .title{ padding: 10px;}
    
    .grey-brd-box .title h2,
    .table-design .head h2,
    .key-mng h2{font-size: calc(100% + .25em);}

    .grey-brd-box .title .reviewbox{padding: 2px 13px;}
    .grey-brd-box .title .reviewbox .stars{ font-size: 11px;}
    .grey-brd-box .title .edit{ padding: 10px; font-size:calc(100% + .03em)}
    .h-800 { height: calc(100vh + 4.5em); max-height: initial;}  
}

@media (max-width: 1200px) {
    .lable-box{ font-size: calc(100% + .15em);}
    .opening-time th{ font-size: calc(100% + .1em);}
    .m-xl-space{ margin-bottom: 1.5em;}

    .table-design .export-info{font-size:calc(100% + .03em)}  
    .table-design .qr-code img{width: 17vh; height: 17vh;} 

    /* .bor-btn{font-size: calc(100% + .15em); padding: 0.2em 0.6em;} */   
}

@media (max-width: 1100px) {
    .grid.colmn-3{grid-template-columns: repeat(2, 1fr);}
}

@media (max-width: 1024px) {
    .font-30 { font-size: calc(100% + .5em);}
    .grid.gap30 { gap: 20px;}
    .table-design .qr-code{padding: 10px}
}


@media (max-width: 991px) {
    .grid.colmn-3{grid-template-columns: repeat(3, 1fr);}
    .m-lg-space{ margin-bottom: 1.5em;}
    .m-h-100 .lable-box{ height: 100px;}
    .act-grid-2{ display: grid; grid-template-columns: repeat(2, 1fr); gap: 20px;}
    .hero { height: 35vh;}

    h2,
    .count-item,
    .custom-nav.navbar h2,
    .custom-nav.navbar .btn-elemts .btn-title{ font-size: calc(100% + .4em);}

    .custom-nav.navbar .container-fluid{ flex-wrap: wrap; padding-left: 15px; padding-right: 15px;}
    .custom-nav.navbar .btn-elemts{flex: 0 0 50%;}
    .custom-nav.navbar h2{flex: 0 0 50%; text-align: right;}
    .custom-nav.navbar .right-info-element{flex: 0 0 100%; border-top:1px solid #a8a8a83b; margin-top: 5px; padding-top: 5px;}
    .member-registed{ display: flex;}
    .member-id{ margin-right: 1.5em;}

    .sb-sidenav-toggled .custom-nav.navbar .btn-elemts,
    .sb-sidenav-toggled .custom-nav.navbar h2,
    .sb-sidenav-toggled .custom-nav.navbar .right-info-element{flex: 0 0 auto; border-top:none; margin-top: 0px; padding-top: 0px;}
    
    .sb-sidenav-toggled .member-registed{ display: block;}
    .sb-sidenav-toggled .member-id{ margin-right: 0;}
    .grid.colmn-2.crt-table{grid-template-columns:auto;}
    .sb-sidenav-toggled .grid.colmn-2.crt-table{grid-template-columns: repeat(2, 1fr);}
    
    .col-md-4.cst-col-4{    width: 45%;}
    .col-md-8.cst-col-8{    width: 55%;}
    .sticky-sec{width: calc(33.33333333% - 2.5rem);}

    .sb-sidenav-toggled .col-md-4.cst-col-4{ width: 40%;}
    .sb-sidenav-toggled .col-md-8.cst-col-8 {width: 60%;}
    .sb-sidenav-toggled .sticky-sec{width: calc(33.33333333% + 1.5rem);}

    .custom-nav.navbar .right-info-element.no-info{ display: none;}
}

@media (max-width: 767px) {
    #sidebar-wrapper{ margin-left: -16rem;}
    .grey-brd-box .title .edit{padding: 10px;  font-size: calc(100% + .015em);}
    .sb-sidenav-toggled #wrapper:after{content: ""; background: rgba(0, 0, 0, 0.75); position: absolute; inset: 0; position: fixed;}
    .venue-fig{height:34vh}

    .sticky-sec { width: calc(33.33333333% + 1.75rem);}
    .sb-sidenav-toggled .grid.colmn-2.crt-table { grid-template-columns: auto;}
    .sb-sidenav-toggled .col-md-4.cst-col-4,
    .sb-sidenav-toggled .col-md-8.cst-col-8 {width: 100%;}

    .sb-sidenav-toggled .sticky-sec { width: auto;}
}

@media (max-width: 550px) {
    .opening-time th { font-size: calc(100% + .015em);}
    .act-grid-2{ display: block;}
    .grid.colmn-3{ grid-template-columns: repeat(2, 1fr);}
    .inner-logo{ display: none;}
    .hero { height: 24vh;}
    .custom-nav.navbar h2 { font-size: calc(100% + .3em);}
    .custom-nav.navbar .right-info-element{ min-width: 8%;}
    .m-sm-space{ margin-bottom: 1.5em;}
    .group-btns {grid-template-columns: repeat(2, 1fr);}
    .custom-nav.navbar .btn-elemts { flex: 0 0 55%;}
    .custom-nav.navbar h2{ flex: 0 0 45%;}
    .venue-fig{height:24vh}

    .col-md-4.cst-col-4,
    .col-md-8.cst-col-8 {width: 100%;}

    .sticky-sec{ width: auto; padding: 0; top: auto; height: auto; position: static; margin-bottom: 1.5rem;}
    .sticky-sec.scroll-y {overflow-y: unset;}
    .sticky-sec:after{ display: none;}

}

@media (max-width: 350px) {
    .grid.colmn-3{grid-template-columns: repeat(1, 1fr);}
    .group-btns { grid-template-columns: auto;}
    .bottom.d-flex.mt-4{ display: block !important; margin-top: 0 !important;}
    .bottom .btn { width: 100%; margin-top: 15px;}
}

/* responsive */